################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UserControlAPP/.vs/UserControlAPP/v15/Server/sqlite3/db.lock
